<!DOCTYPE html>
{% load static%}
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static "css/login.css"%}">
</head>
<body>
    <div class="form-box">
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Login">
            <p>Don't have an Account? <a href="{% url 'sign_up' %}">Sign Up</a> </p>
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
